* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Special Elite";
  src: url("/fonts/SpecialElite-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

:root {
  --header: "Special Elite", "Courier New", Courier, monospace;
  --default: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  --black: #000;
  --red: #ff0015;
  --dark-red: #b3000f;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header);
  font-weight: 500;
  font-size: 2rem;
}

p,
a,
li {
  font-family: var(--default);
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  color: var(--red);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.primary-button {
  border: none;
  padding: 1.25rem 2rem 0.75rem;
  font-family: var(--header);
  font-size: 1.5rem;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--black);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--red);
}

/* Header */
header {
  background-color: var(--black);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  min-height: 5rem;
  position: sticky;
  left: 0;
  top: 0;
}

#no-script {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

#no-script nav {
  display: flex;
  align-items: center;
}

#no-script nav ul {
  display: flex;
}

#no-script li {
  margin: 0 0.5rem;
}

#no-script a {
  text-decoration: none;
  color: var(--white);
}

#no-script a:hover,
#no-script a:focus {
  color: var(--red);
  text-decoration: underline;
}

#no-script-banner {
  position: absolute;
  top: 4.7rem;
  left: 0;
  background-color: var(--black);
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.skip-to-content-link {
  position: absolute;
  z-index: 200;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  min-height: 5rem;
  letter-spacing: 1px;
  border: none;
  font-family: var(--header);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.25s ease;
}

.skip-to-content-link:focus {
  top: 0;
  color: var(--red);
}

.hamburger-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  min-height: 3rem;
}

.hamburger-button div {
  width: 35px;
  height: 2px;
  background-color: var(--white);
  margin: 7px 0;
  transition: all 0.25s ease;
}

.hamburger-button-active div {
  margin: -2px 0;
}

.hamburger-button-active .line-1 {
  transform: rotate(45deg);
  background-color: var(--red);
}

.hamburger-button-active .line-2 {
  opacity: 0;
}

.hamburger-button-active .line-3 {
  transform: rotate(-45deg);
  background-color: var(--red);
}
.navigation {
  position: absolute;
  left: -100%;
  top: 5rem;
  background-color: var(--black);
  z-index: 1000;
  width: 100%;
  min-height: 600px;
  transition: left 0.25s ease-in-out;
}

.navigation-active {
  left: 0;
}

.navigation ul {
  padding: 1rem 1rem;
}

.navigation li {
  padding: 1rem 0;
}

.navigation li a {
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--white);
  font-family: var(--header);
  font-size: 2rem;
}

.navigation ul li a:focus,
.navigation ul li a:hover {
  color: var(--red);
  text-decoration: underline;
}

.overlay {
  width: 100%;
  left: 0;
  top: 5rem;
  position: absolute;
  z-index: 99;
  height: calc(100vh - 5.5rem);
  background-color: var(--black);
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0.25s;
  transition-duration: 0.25s;
  display: none;
}

.overlay-active {
  left: 0;
  opacity: 0.8;
  display: block;
}

#main {
  min-height: 50rem;
}

/* Footer */
footer {
  background-color: var(--black);
  width: 100%;
  min-height: 5rem;
  padding: 0.5rem;
  text-align: center;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-social-icons a {
  text-decoration: none;
}

.footer-copyright {
  margin: 1rem auto;
}

.footer-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.footer-links li:not(:last-child)::after {
  content: "|";
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: var(--white);
}

footer a,
footer p {
  font-size: 1rem;
  color: var(--white);
}

footer a {
  text-decoration: none;
}

.footer-links a:hover,
.footer-links a:focus {
  color: var(--red);
  text-decoration: underline;
}

/* Index */
.hero {
  width: 100%;
}
.homepage-hero {
  background-image: url("/assets/homepage-hero-mobile.jpg");
  height: 50rem;
  min-height: calc(80vh - 5rem);
  background-position: center;
  background-size: cover;
  padding: 5rem 1rem;
  text-align: center;
}

.homepage-hero .copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-hero .primary-button {
  box-shadow: 0px 0px 10px #2c2c2c;
  transition: box-shadow 0.25s ease, color 0.25s ease;
}

.homepage-hero .primary-button:hover,
.homepage-hero .primary-button:focus {
  box-shadow: 0px 0px 3px #000;
  color: var(--red);
}

.homepage-hero .copy-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.homepage-hero .copy-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  /* Header */
  .navigation {
    min-height: 400px;
  }

  /* Index */
  .homepage-hero {
    background-image: url("/assets/homepage-hero-tablet.jpg");
    height: 30rem;
    min-height: calc(50vh - 5rem);
    background-position: right;
    padding: 0rem 1rem;
  }

  .homepage-hero .copy-container {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* Header */
  header {
    padding: 0 2.5rem;
  }

  .hamburger-button {
    display: none;
  }

  .navigation {
    position: static;
    width: calc(100% - 60px);
    background-color: transparent;
    min-height: auto;
  }

  .navigation ul {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    min-height: 4rem;
    width: calc(100% - 60px);
  }

  .navigation li {
    padding: 0;
  }

  .navigation li a {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .overlay-active {
    display: none;
  }

  /* Index */
  .homepage-hero {
    background-image: url("/assets/homepage-hero.jpg");
    height: calc(95vh - 5rem);
    min-height: 40rem;
    background-position: center;
    padding: 0rem 1rem;
    display: flex;
  }

  .homepage-hero .copy-container {
    margin-left: 20%;
    width: 27.5%;
    text-align: right;
    align-items: flex-end;
    margin-top: 1rem;
  }

  .homepage-hero .copy-container h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  /* Index */
  .homepage-hero {
    background-image: url("/assets/homepage-hero.jpg");
    height: calc(95vh - 5rem);
    min-height: 40rem;
    background-position: center;
    padding: 0rem 1rem;
    display: flex;
  }

  .homepage-hero .copy-container {
    margin-left: 22.5%;
    width: 25%;
    text-align: right;
    align-items: flex-end;
    margin-top: 1rem;
  }
}
